# Variables de identidad aplicacion
APP_NAME=nombre o siglas de la app, por ejemplo: MOCACI
APP_KEY=se genera con php artisan key:generate
APP_URL=url del back, sin el /api
FRONTEND_URL=url del front

# Variables de entorno (produccion, desarrollo, pruebas, etc)
APP_ENV=entorno de la app, puede ser: local o production
APP_DEBUG=true o false

# Variables de zona horaria y fechas
APP_TIMEZONE=Por ejemplo: UTC o America/Mexico_City
APP_LOCALE=Por ejemplo: en o es_MX o es (Normalmente es_MX)
APP_FALLBACK_LOCALE=Por ejemplo: en o es_MX o es (Normalmente es)
APP_FAKER_LOCALE=Por ejemplo: en o es_MX o es (Normalmente es)

# Variables de operacion y rendimiento
APP_MAINTENANCE_DRIVER=Es donde se guarda el estado de la app, 
por ejemplo si esta funcionando o en mantenimiento, lo normale es que valga
file. Nota: Se habilita mantenimiento con php artisan down y la forma que
tiene laravel de saber es crea el archivo storage/framework/down. Lo opuesto
a php artisan down es php artisan up
BCRYPT_ROUNDS=Es el costo del algoritmo bcrypt con el que se cifran las 
contraseñas, el estandar es 12 pero puedes poner incluso 15 pero alenta
los inicios de sesion

# Variables sobre logs
LOG_CHANNEL=stack es el canal de los logs, stack permite varios
LOG_STACK=single o daily indica donde se almacenan los logs si en un archivo
o en un archivo por dia (Recomendacion: sinigle desarrollo, daily prod)
LOG_DEPRECATIONS_CHANNEL=null o single, indica warnings cuando se usan 
funciones obsoletas, en prod dejalo a null, en desarrollo single
LOG_LEVEL=debug o info o warning o error o emergency. Es el nivel de detalle
de los logs, deberias dejar debug para desarrollo. En prod deberias poner error

# Variables de base de datos
DB_CONNECTION=Conector de bd, normalmente sqlsrv
DB_HOST=host de bd, en desarrollo es (local)
DB_PORT=Puerto de bd, de sql server es 1433
DB_DATABASE=nombre de tu bd
DB_USERNAME=usuario de tu bd
DB_PASSWORD=clave de tu bd
DB_TRUST_SERVER_CERTIFICATE=confiar o no en el certificado (SQL SERVER) 
es true o false

# Almacenamiento
CACHE_DRIVER=database
FILE_DIR=carpeta donde almacenar archivos

# Acceso al SIBOP
SIBOP_API_TOKEN=Token del usuario de sistema del sibop
SIBOP_API_URL=url de la api del sibop

# API de correo
MAIL_API_ENDPOINT=url de la api de correo
MAIL_API_TOKEN=token de la api de correo

# Variables de desarrollo
PHP_CLI_SERVER_WORKERS=Es el numero de workers para servidor de desarrollo 
php artisan serve, con 4 basta
DEV_HOST=ip del comando php artisan serve
DEV_PORT=host del comando php artisan serve